{% extends 'core/base.html' %}

{% block content %}

<main>
	<h2 class="display-6 text-center mb-4">Applications</h2>
	<div class="table-responsive">
		{% if application_list.count > 0 %}
		<table class="table text-center">
			<caption style="text-align: center">
				<i class="dot-close"></i> close
				<i class="dot-reply"></i> reply
			</caption>
			<thead>
				<tr>
					<th style="border-bottom:1px solid #fff;"></th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				{% for application in application_list %}
					{% if application.close == 'no' %}
					<tr class="table-inactive">
						<td style="border-bottom:1px solid #fff;"><i class="dot-lay"></i></td>
					{% else %}
					<tr>
						<td style="border-bottom:1px solid #fff;"><i class="dot"></i></td>
					{% endif %}
						<th>{{ forloop.counter }}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h6 class="text-muted ml-auto m-0 text-center">No data - start adding approaches by clicking the "+ Create Application"</h6>
		{% endif %}
	</div>
</main>
	
{% endblock %}