{% extends 'core/base.html' %}

{% block content %}

<main>
	<h2 class="display-6 text-center mb-4">Applications</h2>
	<div class="table-responsive">
		{% if application_list.count > 0 %}
		<table class="table text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Date</th>
					<th>Comment</th>
					<th>Approved</th>
				</tr>
			</thead>
			<tbody>
				{% for application in application_list %}
				<tr class="table">
					<th>{{ forloop.counter }}</th>
					<td>{{ application.name }}</td>
					<td>{{ application.submitdate }}</td>
					<td>{{ application.comments }}</td>
					<td>{{ application.approved }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h6 class="text-muted ml-auto m-0 text-center">No data to show</h6>
		{% endif %}
	</div>
</main>
	
{% endblock %}
